{

  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },

  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "mocha": true
  },

  "plugins": [
    "flowtype"
  ],

  "globals": {
    "define": true
  },

  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },

  "rules": {
    "strict": ["error", "global"],
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "caughtErrors": "none" }],
    "no-console": ["error", { allow: ["warn", "error"] }],
    "camelcase": ["error", { "properties": "always" }],
    "consistent-return": "error",
    "arrow-spacing": "error",
    "arrow-parens": ["error", "always"],
    "arrow-body-style": ["error", "as-needed"],
    "semi": ["error", "always"],
    "no-confusing-arrow": ["error", { "allowParens": false }],
    "no-constant-condition": "error",
    "no-labels": "error",
    "no-multiple-empty-lines": ["error", { max: 1, maxEOF: 1 }],
    "func-style": "off",
  }
}
